---
sidebar_position: 2
title: Verification
hide_table_of_contents: true
---

# Verification Architecture Diagram

<br />
![Verification Architecture Diagram](/img/verification.png)
<br />